* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    line-height: 1.6;
    color: #333;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #E83C91;
    color: #fff;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}
.hero {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
              url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9') center/cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
}
.hero h1 {
    font-size: 2.5rem;
}
.hero p {
    margin: 15px 0;
}
.btn {
    background: #e91ee9;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}
section {
    padding: 60px 20px;
}
.services .service-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.service {
    background: #f4f4f4;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 15px;
    margin-top: 20px;
}
.gallery-grid img {
    width: 200px;
    height: 300px;
    background: #ddd;
    border-radius: 8px;
}
.contact p {
    margin: 10px 0;
}
.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .nav {
        margin-top: 10px;

    }
    .hero h1 {
        font-size: 2rem;
    }
}